DATABASE_URL=postgresql://neondb_owner:npg_jK2T6xrgMPRk@ep-hidden-mode-aqx058we.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
ADMIN_EMAIL=admin@radiantconsultant.com
ADMIN_PASSWORD=REAdmin@2026
ADMIN_SESSION_SECRET=47bf17c66ec821f3aa750a526dd6482aafd7b843c4b76838d42e9567c3258797
CONTACT_RATE_LIMIT_MAX_ATTEMPTS=5
CONTACT_RATE_LIMIT_WINDOW_SECONDS=900
